:root {
    --dark: #222;
    --light: #e0e0e0;
}

* {
    margin: 0;
    font-family: monospace;
    overflow: hidden;
}

nav {
    width: 1920;
    height: 32px;
    background-color: var(--dark);
    display: flex;
    flex-direction: row;
}

footer {
    grid-column: 1 / 3;
    background-color: var(--dark);
    height: 30px;
}

button {
    margin: 0;
    width: 128px;
    height: 32px;
    border: none;
    background-color: white;
} button:hover {background-color: var(--light);}

/* MAIN MENU */

.main-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-around;
    
    background-image: url('./assets/images/ghazalFull.png');
}

/* GAME MENU */

.canvas {
    margin: 0;
    display: inline;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
}

.menu {
    width: 512px;
    display: inline;
}

.player-interface {
    height: 824px;
}

.sub-interface {
    padding: 1em;
    height: 100%;
    border-left: 1px solid var(--light);
    border-right: 1px solid var(--light);
}

.tab-row {
    display: flex;
    flex-direction: row;
}

.tab {
    width: 64;
    height: 32;
    border-bottom: 1px solid var(--light);
}

.active {
    border: 1px solid var(--light);
    border-bottom: none;
}

.admin-log {
    background-color: yellow;
    padding: 1em;
    height: 174px;
    overflow-y: hidden;
}

/* MICRO STYLES */
.hide { display: none; }
.yellow-bkg { background-color: yellow; }
.boxed { border: 1px solid var(--dark); margin: 0.5em;}
